__pycache__/
.idea/
logs/
# Ignore
results/*/*.txt
# Ignore masked files and top prediction files
data/*/*/*masked*

final_model/

checkpoints/

xlm-roberta/

# Script for debugging, etc.
debugging.py